<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GJP_IMIS.conString" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GJP_IMIS.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="EarlTEST" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-DC45MHQ\SQLEXPRESS;Initial Catalog=IMISTEST;Integrated Security=True;MultipleActiveResultSets=true"/>
		<add name="Earl" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-DC45MHQ\SQLEXPRESS;Initial Catalog=IMIS;Integrated Security=True;MultipleActiveResultSets=true"/>
		<add name="Maverick" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-IOF93CS\SQLEXPRESS;Initial Catalog=IMIS;Integrated Security=True;MultipleActiveResultSets=true"/>
		<add name="Miggy" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-NDO013V\SQLEXPRESS;Initial Catalog=IMIS;Integrated Security=True;MultipleActiveResultSets=true"/>

		<add name="Main" providerName="System.Data.SqlClient" connectionString="Data Source=\SQLEXPRESS;Initial Catalog=IMISTEST;Integrated Security=True;MultipleActiveResultSets=true"/>
	</connectionStrings>
 <applicationSettings>
  <GJP_IMIS.conString>
   <setting name="MyConnectionString" serializeAs="String">
    <value />
   </setting>
  </GJP_IMIS.conString>
 </applicationSettings>
 <userSettings>
  <GJP_IMIS.Settings>
   <setting name="MyConnectionString" serializeAs="String">
    <value />
   </setting>
  </GJP_IMIS.Settings>
 </userSettings>
</configuration>