<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GJP_IMIS.conString" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GJP_IMIS.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GJP_IMIS.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Main" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-IOF93CS\SQLEXPRESS;Initial Catalog=IMIS;Integrated Security=True;MultipleActiveResultSets=true"/>
	</connectionStrings>
 <applicationSettings>
  <GJP_IMIS.conString>
   <setting name="MyConnectionString" serializeAs="String">
    <value />
   </setting>
  </GJP_IMIS.conString>
 </applicationSettings>
 <userSettings>
  <GJP_IMIS.Settings1>
   <setting name="dtr_Signee1_Name" serializeAs="String">
    <value>Sarah Marie M. Jalandoon</value>
   </setting>
   <setting name="dtr_Signee1_Position" serializeAs="String">
    <value>SLSO II</value>
   </setting>
   <setting name="dtr_Signee2_Name" serializeAs="String">
    <value>Rowell C. Mangibin</value>
   </setting>
   <setting name="dtr_Signee2_Position" serializeAs="String">
    <value>LSO II / Intern Coordinator</value>
   </setting>
   <setting name="letter_Signee_Name" serializeAs="String">
    <value>Maria Vida G. Caparas, Ph.D., RPsy</value>
   </setting>
   <setting name="letter_Signee_Position" serializeAs="String">
    <value>Director III</value>
   </setting>
   <setting name="cert_Signee_Name" serializeAs="String">
    <value>Maria Vida G. Caparas, Ph.D., RPsy</value>
   </setting>
   <setting name="cert_Signee_Position" serializeAs="String">
    <value>Director III</value>
   </setting>
  </GJP_IMIS.Settings1>
  <GJP_IMIS.Settings>
   <setting name="MyConnectionString" serializeAs="String">
    <value />
   </setting>
  </GJP_IMIS.Settings>
 </userSettings>
</configuration>