<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Earl" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-DC45MHQ\SQLEXPRESS;Initial Catalog=IMIS;Integrated Security=True"/>
		<add name="Maverick" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-IOF93CS\SQLEXPRESS;Initial Catalog=IMIS;Integrated Security=True"/>
		<add name="Miggy" providerName="System.Data.SqlClient" connectionString="Data Source=MIGGYPAREJA\SQLEXPRESS;Initial Catalog=IMIS;Integrated Security=True"/>
		<add name="OJT" providerName="System.Data.SqlClient" connectionString="Data Source=HRMS-SARAH\SQLEXPRESS;Initial Catalog=IMIS;Integrated Security=True"/>
		
	</connectionStrings>
</configuration>